h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.8em;
}

.bottom-icons {
    font-size: 2.0em;
    color: #4d5d6e;
}

.bottom-icons:hover {
    cursor: pointer;
    color: #374251;
}


.sub-heading {
    font-size: 0.9em;
    color: #6e6e6e;
}

input[type="file"] {
    display: none;
}

.no-margin {
    margin: 0;
}

.auto-margin {
    margin: auto;
}

.v-margin {
    margin-bottom: 10px;
    margin-top: 10px;
}

.flex {
    display: flex;
}

.image-box {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.image-container-inner {
    width: 96%;
    height: 96%;
    background-color: black;
    margin: auto;
    display: flex;
}

.image-container-inner:hover {
    cursor: pointer;
}

.image-text {
    margin: auto;
}

.image-container-inner:active {
    cursor: pointer;
}

.image-container {
    width: 100%;
    height: 100%;
    border: 1px solid #567089;
    display: flex;
}

.aspect-box {
    width: 100%;
    padding-top: calc(100% + 30px);
    position: relative;
}

.aspect-content {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    padding-top: 15px;
    padding-bottom: 15px;
}

.rounded-corners {
    border-radius: 5px;
}

.top-margin {
    margin-top: 12px;
}

.highlight-block {
    border-left: 2px solid white;
    padding-left: 14px;
}

.footer-block {
    border-top: 1px solid #4d5d6e;
    padding-top: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 0.9em;
    color: #4d5d6e;
}

@media (min-width: 960px) {
    .container {
        max-width: 640px;
    }
}

.loader {
    border: 3px solid #4c6282; /* Light grey */
    border-top: 3px solid #64b3e8; /* Blue */
    border-radius: 50%;
    width: 42px;
    height: 42px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}