/*body {*/
  /*background-color: #282c34 !important;*/
  /*color: white !important;*/
/*}*/

input[type="file"] {
    display: none;
}

.no-margin {
    margin: 0;
}

.auto-margin {
    margin: auto;
}

.flex {
    display: flex;
}

.image-box {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.image-container-inner {
    width: 96%;
    height: 96%;
    background-color: black;
    margin: auto;
    display: flex;
}

.image-container-inner:hover {
    background-color: yellow;
    cursor: pointer;
}

.image-text {
    margin: auto;
}

.image-container-inner:active {
    background-color: red;
    cursor: pointer;
}

.image-container {
    width: 100%;
    height: 100%;
    border: 1px solid #567089;
    display: flex;
}

.aspect-box {
    width: 100%;
    padding-top: calc(100% + 30px);
    position: relative;
}

.aspect-content {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    padding-top: 15px;
    padding-bottom: 15px;
}

.rounded-corners {
    border-radius: 5px;
}

.highlight-test {
    border: 1px solid red;
}

.top-margin {
    margin-top: 20px;
}

@media (min-width: 960px) {
    .container {
        max-width: 640px;
    }
}